# -*- coding: utf-8 -*-

# Copy this file to config/local_settings_and_secrets.py and fill real values
# only in that ignored local file. Do not commit real tokens or passwords.

DB_HOST = ""
DB_PORT = 5432
DB_NAME = "trmetrics"
DB_USER = ""
DB_PASSWORD = ""
DB_CONNECT_TIMEOUT_SECONDS = 5
DB_STATEMENT_TIMEOUT_MS = 10000

STATE_FILE = "/tmp/alerts.json"
STATE_LOCK_TIMEOUT_SECONDS = 30
STATE_LOCK_RETRY_INTERVAL_SECONDS = 0.01
WATCHER_PROCESS_LOCK_FILE = "/tmp/alerter_watcher.lock"
WATCHER_PROCESS_LOCK_TIMEOUT_SECONDS = 10
WATCHER_PROCESS_LOCK_RETRY_INTERVAL_SECONDS = 0.2
WATCHER_MAX_RUNTIME_SECONDS = 30
WATCHER_MAX_STEPS_PER_RUN = 100
WATCHER_LOG_FILE = "/tmp/watcher.log"
DAY_DELETE_DELAY_MINUTES = 30
NIGHT_DELETE_DELAY_MINUTES = 180
LOG_MAX_SIZE_BYTES = 104857600
LOG_KEEP_SIZE_BYTES = 83886080

REQUEST_TIMEOUT = 30
VERIFY_SSL = False
JIRA_TOKEN = ""
JIRA_SERVICE_URL = "https://hd.samoletgroup.ru/rest/assets/1.0/object/{}/attributes"
JIRA_CREATE_INC_URL = "https://hd-dev02.samoletgroup.ru/rest/api/2/issue"
JIRA_ISSUE_BROWSE_URL = "https://hd-dev02.samoletgroup.ru/browse/{}"

INSIGHT_SERVICE_URL = JIRA_SERVICE_URL
INSIGHT_GROUP_URL = "https://hd.samoletgroup.ru/rest/assets/1.0/object/{group_id}/attributes"
INSIGHT_AUTH_TOKEN = JIRA_TOKEN
INSIGHT_REQUEST_TIMEOUT_SECONDS = REQUEST_TIMEOUT
INSIGHT_VERIFY_SSL = VERIFY_SSL
INSIGHT_ACTUAL_STATUS_VALUE = "Актуально"
INSIGHT_FULL_NAME_ATTRIBUTE_ID = 63
INSIGHT_STATUS_ATTRIBUTE_ID = 126
INSIGHT_FUNCTION_OBJECT_ATTRIBUTE_ID = 2066
INSIGHT_RESPONSIBLE_GROUP_ATTRIBUTE_ID = 2551
INSIGHT_JIRA_INCIDENT_TYPE_ATTRIBUTE_ID = 2413
INSIGHT_RECIPIENT_ATTRIBUTE_IDS = [2543, 2542]
MANDATORY_RECIPIENTS = (
    "dm.kalinin",
    "d.boyarchuk",
    "t.sukhorukikh",
    "dk.korolev",
)
INSIGHT_MANDATORY_RECIPIENTS = list(MANDATORY_RECIPIENTS)

JIRA_PROJECT_ID = "22601"
JIRA_ISSUE_TYPE_ID = "10120"
JIRA_PRIORITY_NAME = "Авария"
JIRA_INSIGHT_CUSTOM_FIELD = "customfield_19700"
JIRA_INCIDENT_TYPE_CUSTOM_FIELD = "customfield_35901"
JIRA_FUNCTION_CUSTOM_FIELD = "customfield_23400"
JIRA_FIXED_OBJECT_CUSTOM_FIELD = "customfield_27602"
JIRA_FIXED_OBJECT_KEY = "TZ-24771"
JIRA_DEFAULT_INCIDENT_TYPE_KEY = "TZ-30904"
JIRA_REQUEST_TIMEOUT_SECONDS = REQUEST_TIMEOUT
JIRA_VERIFY_SSL = VERIFY_SSL
JIRA_THREAD_LINK_TRANSITION_ENABLED = False
JIRA_THREAD_LINK_TRANSITION_URL = "https://hd.samoletgroup.ru/rest/api/2/issue/{}/transitions"
JIRA_THREAD_LINK_TRANSITION_ID = "541"
JIRA_THREAD_LINK_CUSTOM_FIELD = "customfield_41700"
JIRA_THREAD_LINK_TRANSITION_STRICT = False

RECIPIENT_RESOLVER_URL = "http://127.0.0.1:8000/resolve"
RECIPIENT_RESOLVER_TIMEOUT_SECONDS = REQUEST_TIMEOUT
RECIPIENT_RESOLVER_VERIFY_SSL = VERIFY_SSL
RECIPIENT_RESOLVER_TOKEN = ""

KTALK_BASE_URL = "https://chat.ktalk.ru"
KTALK_ROOM_ID = "!SWMeGogRrRLJIxnikt:matrix-9.ktalk.ru"
KTALK_BEARER_TOKEN = ""
KTALK_HOST = "chat.ktalk.ru"
KTALK_TALK_HOST = "https://samoletgroup.ktalk.ru"
KTALK_SEND_MESSAGE_RETRIES = 1
KTALK_SAFE_REQUEST_RETRIES = 3
KTALK_RETRY_DELAY_SECONDS = 5
KTALK_SEND_MESSAGE_TIMEOUT = (10, 60)
KTALK_SAFE_REQUEST_TIMEOUT = 30
KTALK_VERIFY_SSL = False
KTALK_MESSAGE_SEARCH_LIMIT = 50
KTALK_MESSAGE_SEARCH_ATTEMPTS = 3
KTALK_MESSAGE_SEARCH_DELAY_SECONDS = 1
KTALK_AGGREGATE_MESSAGE_REPEAT_COUNT = 3
KTALK_AGGREGATE_MESSAGE_REPEAT_INTERVAL_SECONDS = 60
KTALK_THREAD_LINK_REQUIRED_PREFIX = "https://samoletgroup.ktalk.ru/app/messenger/"
KTALK_THREAD_WEB_URL_TEMPLATE = (
    "https://samoletgroup.ktalk.ru/app/messenger/{room_id}?thread_id={thread_root_event_id}"
)
